.date {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;

  @media (max-height: 858px) {
    font-size: 18px;
  }

  &__wrapper {
    padding-top: 10px;
    display: flex;
    gap: 10px;

    
    @media (max-width: 520px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__greating {
    text-align: center;
  }

  &__today {
    text-transform: capitalize;
  }
}