.date {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;

  &__wrapper {
    padding-top: 10px;
    display: flex;
    gap: 10px;
  }

  &__greating {
    text-align: center;
  }
}